/* Start Global rules */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../myriad_pro/Myriad Pro Black.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url("../myriad_pro/Myriad Pro Light.otf") format("opentype");
  font-weight: normal;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  --text-color: #e6e4e5;
  --typing-color: #bbbbbb;
  --theme-color: #2ecc71;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: '', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/*medium*/
@media (min-width: 992px) {
  .container {
    width: 920px;
  }
}

/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-title {
  text-align: center;
  color: rgba(255, 255, 255, 0.95);
  font-size: 36px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 100px auto;
  font-weight: normal;
}

.main-title::before {
  content: '';
  position: absolute;
  background-color: var(--theme-color);
  width: 180%;
  height: 200%;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%) rotate(-6deg);
          transform: translate(-50%, -50%) rotate(-6deg);
  left: 50%;
  top: 50%;
}

@media (max-width: 500px) {
  .main-title {
    font-size: 32px;
    margin: 85px auto;
  }
}

/* End Global rules */
/* start hero */
.hero {
  background-image: url("../images/header.png");
  background-size: cover;
  height: 100vh;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
}

.hero .container {
  position: relative;
  height: 100%;
}

.hero .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container nav .logo {
  font-family: 'Myriad Pro';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  color: white;
}

.hero .container nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 45px;
}

.hero .container nav .links li a {
  color: var(--text-color);
  text-transform: uppercase;
  position: relative;
  padding: 20px 0;
}

.hero .container nav .links li a::before {
  position: absolute;
  content: '';
  height: 5px;
  width: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--theme-color);
  left: 50%;
  bottom: 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.hero .container nav .links li a:hover::before {
  width: 125%;
  color: white;
}

.hero .container nav .ca-se i {
  color: white;
  cursor: pointer;
  padding: 10px;
}

.hero .container nav .ca-se i:last-child {
  margin-left: 5px;
}

.hero .container nav .burger {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  display: none;
  padding: 15px;
  cursor: pointer;
}

.hero .container nav .burger span {
  height: 3px;
  width: 25px;
  background-color: white;
  display: block;
  -webkit-transition: inherit;
  transition: inherit;
}

.hero .container nav .burger span:not(:last-child) {
  margin-bottom: 4px;
}

.hero .container .welcome {
  color: white;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hero .container .welcome h1 {
  font-size: 50px;
  position: relative;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.hero .container .welcome h1::before {
  position: absolute;
  content: '';
  height: 5px;
  width: 125px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: var(--theme-color);
  left: 50%;
  bottom: -23px;
}

.hero .container .welcome p {
  max-width: 525px;
  margin: auto;
  color: var(--text-color);
  line-height: 1.6;
}

.hero .container .welcome a {
  text-transform: capitalize;
  color: var(--text-color);
  margin-top: 25px;
  padding: 15px 30px;
  border: 4px solid var(--text-color);
  display: inline-block;
  position: relative;
}

.hero .container .welcome a::before {
  position: absolute;
  content: '';
  height: 101%;
  width: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  left: 50%;
  bottom: 0;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: -1;
}

.hero .container .welcome a:hover {
  color: black;
}

.hero .container .welcome a:hover::before {
  width: 101%;
}

@media (max-width: 790px) {
  .hero .container nav .ca-se,
  .hero .container nav .links {
    display: none;
  }
  .hero .container nav .burger {
    display: block;
  }
  .hero .container nav .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .hero .container nav .burger.active span:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-4px, 7px);
            transform: rotate(-45deg) translate(-4px, 7px);
  }
  .hero .container nav .burger.active span:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-4px, -7px);
            transform: rotate(45deg) translate(-4px, -7px);
  }
  .hero .container nav.active {
    position: relative;
  }
  .hero .container nav.active .links {
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 250px;
    position: absolute;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    top: 100%;
    gap: 20px;
    padding: 20px 0;
    z-index: 99;
  }
  .hero .container nav.active .links::before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 15px solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.75) transparent;
    top: -30px;
    right: 12px;
  }
  .hero .container nav.active .links li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .hero .container nav.active .links li a::before {
    bottom: 10px;
  }
  .hero .container nav.active .ca-se {
    position: absolute;
    right: 0;
    bottom: -300px;
    width: 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    background-color: rgba(14, 14, 14, 0.95);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    padding: 20px 0;
    z-index: 99;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .hero .container .welcome h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  .hero .container .welcome p {
    font-size: 14px;
    padding: 15px;
  }
  .hero .container .welcome a {
    margin-top: 15px;
  }
}

/* end hero */
/* start about */
.about-section {
  margin-bottom: 50px;
}

.about-section .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  height: 510px;
}

.about-section .about .image {
  width: 47.5%;
  position: relative;
  min-width: 450px;
  height: 510px;
}

.about-section .about .image img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 440px;
  height: 440px;
}

.about-section .about .image::before {
  position: absolute;
  content: '';
  left: 40px;
  top: 0;
  width: 440px;
  height: 440px;
  background-color: var(--theme-color);
}

.about-section .about .info {
  width: 47.5%;
  color: #777;
}

.about-section .about .info h2 {
  color: black;
  position: relative;
  margin-top: 0;
  margin-bottom: 75px;
}

.about-section .about .info h2::before {
  position: absolute;
  content: '';
  height: 5px;
  width: 50px;
  background-color: var(--theme-color);
  left: 0;
  bottom: -23px;
}

.about-section .about .info p {
  line-height: 1.6;
}

.about-section .about .info ul {
  position: relative;
  margin: 30px 15px 40px;
}

.about-section .about .info ul::before {
  position: absolute;
  content: '';
  width: 5px;
  height: 120%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: var(--theme-color);
  top: 50%;
  left: -15px;
  bottom: -23px;
}

.about-section .about .info ul li:not(:last-child) {
  margin-bottom: 10px;
}

.about-section .about .info ul li span {
  font-weight: bold;
  color: black;
}

.about-section .about .info a {
  font-weight: bold;
  color: black;
  margin-top: 25px;
  padding: 15px 30px;
  border: 4px solid black;
  display: inline-block;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.about-section .about .info a:hover {
  background-color: var(--text-color);
}

.about-section .about .info a i {
  font-weight: normal;
}

@media (max-width: 1250px) {
  .about-section {
    overflow-x: hidden;
  }
  .about-section .container .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 75px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .about-section .container .about .image {
    width: 80%;
  }
  .about-section .container .about .image img {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
  }
  .about-section .container .about .image::before {
    left: unset;
    right: 35%;
  }
  .about-section .container .about .info {
    width: unset;
    max-width: 500px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: auto;
  }
  .about-section .container .about .info h2 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    margin-bottom: 50px;
  }
  .about-section .container .about .info ul {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: left;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/* end about */
/*# sourceMappingURL=matrix.css.map */