/* Start Global rules */

*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../myriad_pro/Myriad\ Pro\ Black.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../myriad_pro/Myriad\ Pro\ Light.otf') format('opentype');
    font-weight: normal;
}

:root {
    box-sizing: border-box;
    --text-color: #e6e4e5;
    --typing-color: #bbbbbb;
    --theme-color: #2ecc71;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: '', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}


/*medium*/

@media (min-width:992px) {
    .container {
        width: 920px;
    }
}


/*large*/

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.main-title{
    text-align: center;
    color: rgba(255, 255, 255, 0.95);
    font-size: 36px;
    position: relative;
    width: fit-content;
    margin: 100px auto;
    font-weight: normal;
    &::before{
        content: '';
        position: absolute;
        background-color: var(--theme-color);
        width: 180%;
        height: 200%;
        z-index: -1;
        transform: translate(-50%,-50%) rotate(-6deg);
        left: 50%;
        top: 50%;
    }
}
@media (max-width: 500px){
    .main-title{
        font-size: 32px;
        margin: 85px auto;
    }
}

/* End Global rules */

/* start hero */
.hero{
    background-image: url('../images/header.png');
    background-size: cover;
    height: 100vh;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 0;
    }
    .container{
        position: relative;
        height: 100%;
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo{
                font-family: 'Myriad Pro';
                font-weight: bold;
                text-transform: uppercase;
                font-size: 30px;
                color: white;
            }
            .links{
                display: flex;
                gap: 45px;

                li{
                    a{
                        color: var(--text-color);
                        text-transform: uppercase;
                        position: relative;
                        padding: 20px 0;
                        &::before{
                            position: absolute;
                            content: '';
                            height: 5px;
                            width: 0;
                            transform: translateX(-50%);
                            background-color: var(--theme-color);
                            left: 50%;
                            bottom: 0;
                            transition: .2s;
                        }
                        &:hover::before{
                            width: 125%;
                            color: white;
                        }
                    }
                    
                }
            }
            .ca-se{
                i{
                    color: white;
                    cursor: pointer;
                    padding: 10px;
                    &:last-child{
                        margin-left: 5px;
                    }
                }
            }
            .burger{
                height: fit-content;
                transition: 0.25s;
                display: none;
                padding: 15px;
                cursor: pointer;
                span{
                    height: 3px;
                    width: 25px;
                    background-color: white;
                    display: block;
                    transition: inherit;
                    &:not(:last-child){
                        margin-bottom: 4px;
                    }
                }
            }
        }
        .welcome{
            color: white;
            position: absolute;
            text-align: center;
            transform: translate(-50%, -50%);
            left: 50%;
            top: 50%;
            width: fit-content;
            h1{
                font-size: 50px;
                position: relative;
                margin-bottom: 50px;
                text-transform: uppercase;
                &::before{
                    position: absolute;
                    content: '';
                    height: 5px;
                    width: 125px;
                    transform: translateX(-50%);
                    background-color: var(--theme-color);
                    left: 50%;
                    bottom: -23px;
                }
            }
            p{
                max-width: 525px;
                margin: auto;
                color: var(--text-color);
                line-height: 1.6;
            }
            a{
                text-transform: capitalize;
                color: var(--text-color);
                margin-top: 25px;
                padding: 15px 30px;
                border: 4px solid var(--text-color);
                display: inline-block;
                position: relative;
                &::before{
                    position: absolute;
                    content: '';
                    height: 101%;
                    width: 0;
                    transform: translateX(-50%);
                    background-color: white;
                    left: 50%;
                    bottom: 0;
                    transition: .2s;
                    z-index: -1;
                }
                &:hover{
                    color: black;
                }
                &:hover::before{
                    width: 101%;
                }
                
            }
        }
    }

}

@media (max-width: 790px){
    .hero{
        .container{
            nav{
                .ca-se,
                .links{
                    display: none;
                }
                .burger{

                    display: block;
                    &.active{
                        span{
                            &:nth-child(2) {
                                opacity: 0;
                            }
                            &:nth-child(1) {
                                transform: rotate(-45deg) translate(-4px, 7px);
                            }
                            &:nth-child(3) {
                                transform: rotate(45deg) translate(-4px, -7px);
                            }
                        }
                    }
                    
                }
                &.active{
                    position: relative;
                    .links{
                        right: 0;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 250px;
                        position: absolute;
                        padding: 15px;
                        background-color: rgba(0, 0, 0, 0.85);
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
                        top: 100%;
                        gap: 20px;
                        padding: 20px 0;
                        z-index: 99;
                        &::before{
                            position: absolute;
                            content: '';
                            width: 0;
                            height: 0;
                            border: 15px solid;
                            border-color: transparent transparent rgba(0, 0, 0, 0.75) transparent;
                            top: -30px;
                            right: 12px;
                        }
                        li{
                            width: fit-content;
                            a{
                                &::before{
                                    bottom: 10px;
                                }
                            }
                        }
                    }
                    .ca-se{
                        position: absolute;
                        right: 0;
                        bottom: -300px;
                        width: 250px;
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        background-color: rgba(14, 14, 14, 0.95);
                        backdrop-filter: blur(5px);
                        padding: 20px 0;
                        z-index: 99;
                        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
                    }
                }
            }
            .welcome{
                h1{
                    font-size: 36px;
                    margin-bottom: 30px;
                }
                p{
                    font-size: 14px;
                    padding: 15px;
                }
                a{
                    margin-top: 15px;
                }
            }
        }
    }
}
/* end hero */

/* start about */

.about-section{
    margin-bottom: 100px;
    .about{
        display: flex;
        gap: 5%;
        height: fit-content;
        position: relative;
        height: 510px;
        .image{
            width: 47.5%;
            position: relative;
            min-width: 450px;
            height: 510px;
            img{
                position: absolute;
                right: 0;
                bottom: 0;
                width: 440px;
                height: 440px;
                
            }
            &::before{
                position: absolute;
                content: '';
                left: 40px;
                top: 0;
                width: 440px;
                height: 440px;
                background-color: var(--theme-color);
            }
        }
        .info{
            width: 47.5%;
            color: #777;
            h2{
                color: black;
                position: relative;
                margin-top: 0;
                margin-bottom: 75px;
                &::before{
                    position: absolute;
                    content: '';
                    height: 5px;
                    width: 50px;
                    background-color: var(--theme-color);
                    left: 0;
                    bottom: -23px;
                }
            }
            p{
                line-height: 1.6;
            }
            ul{
                position: relative;
                margin: 30px 15px 40px;
                &::before{
                    position: absolute;
                    content: '';
                    width: 5px;
                    height: 120%;
                    transform: translateY(-50%);
                    background-color: var(--theme-color);
                    top: 50%;
                    left: -15px;
                    bottom: -23px;
                }
                li:not(:last-child){
                    margin-bottom: 10px;
                }
                li{
                    span{
                        font-weight: bold;
                        color: black;
                    }
                }
            }
            a{
                font-weight: bold;
                color: black;
                margin-top: 25px;
                padding: 15px 30px;
                border: 4px solid black;
                display: inline-block;
                position: relative;
                transition: .3s;
                &:hover{
                    background-color: var(--text-color);
                }
                i{
                    font-weight: normal;
                }
            }
        }
    }
}

@media (max-width: 1250px){
    .about-section{
        overflow-x: hidden;
        .container{
            .about{
                flex-direction: column;
                gap: 75px;
                height: fit-content;
                align-items: center;
                text-align: center;
                .image{
                    width: 80%;
                    img{
                        transform: translateX(-50%);
                        left: 50%;
                        
                    }
                    &::before{
                        left: unset;
                        right: 35%;
                    }
                }
                .info{
                    width: unset;
                    max-width: 500px;
                    height: fit-content;
                    margin: auto;
                    h2{
                        width: fit-content;
                        margin: auto;
                        margin-bottom: 50px;
                    }
                    ul{
                        width: fit-content;
                        text-align: left;
                        margin: auto;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        
    }
}

.about-section{
    .boxes{
        margin: 70px 0 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
        .box{
            width: 340px;
            text-align: center;
            i{
                font-size: 25px;
                padding: 20px;
                border: 4px solid var(--theme-color);
                border-radius: 50%;
                color: var(--theme-color);
            }
            &:nth-child(2){
                i{
                    color: white;
                    background-color: var(--theme-color);
                }
            }
            p{
                color: #777;
            }
        }
    }
}

/* end about */

/* start recent works */

.recent-works{
    .container{
        .shuffle{
            display: flex;
            justify-content: center;
            li{
                padding: 10px;
                font-weight: bold;
                font-size: 18px;
                margin: 0 20px;
                text-transform: uppercase;
                &.active{
                    color: var(--theme-color);
                }
            }
        }
    }
    .imgs-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        max-width: 2000px;
        margin-left: auto;
        margin-right: auto;
        .box {
            position: relative;
            overflow: hidden;
            color: white;
            &:hover .caption {
                bottom: 0;
            }
            &:hover img {
                transform: rotate(3deg) scale(1.1);
            }
            img {
                max-width: 100%;
                transition: .3s;
            }
            .caption {
                position: absolute;
                left: 0;
                padding: 20px;
                background-color: rgba(0, 0, 0, 0.712);
                width: 100%;
                transition: .3s;
                bottom: -100%;
                h4 {
                    font-weight: 900;
                    margin-bottom: 25px;
                    font-size: 18px;
                    position: relative;
                    &::before{
                        position: absolute;
                        content: '';
                        height: 5px;
                        width: 50px;
                        background-color: var(--theme-color);
                        left: 0;
                        bottom: -15px;
                    }
                }
            }
        }
    }
}


@media (min-width:650px) {
    .recent-works .imgs-container .box {
        flex-basis: 50%;
    }
}

@media (min-width:1080px) {
    .recent-works .imgs-container .box {
        flex-basis: 25%;
    }
}

/* end recent works */

/* start news */

.news{
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        .box{
            width: 340px;
            color: #777;
            padding-bottom: 50px;
            transition: .25s;
            .image{
                position: relative;
                img{
                    width: 100%;
                }
                p{
                    position: absolute;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                    color: white;
                    font-size: 18px;
                    display: inline-block;
                    margin: auto;
                    text-transform: uppercase;
                    opacity: 0;
                    transition: .25s;
                }
                &::before{
                    content: '';
                    height: 80px;
                    width: 100%;
                    transform: translateY(-50%);
                    top: 50%;
                    left: 0;
                    position: absolute;
                    background-color: var(--theme-color);
                    opacity: 0;
                    transition: .25s;
                }
            }
            h2{
                margin-bottom: 0px;
                color: black;
                transition: .25s;
            }
            &:hover{
                h2{
                    color: var(--theme-color);
                }
                .image::before{
                    opacity: .6;
                }
                .image p {
                    opacity: 1;
                }
            }
            
        }
    }
}

/* end news */